button {
    border:none !important;
    background-color:transparent !important;
}

button:active {
    border:none !important;
    background-color:transparent !important;
}

button:focus {outline:0;}

